{% extends "base.html" %}
{% load staticfiles %}

{% block title %}FAQ{% endblock %}

{% block css %}

{% endblock %}

{% block main %}
        <main>
            <div class="main-wrapper">
                <div class="section" id="index-banner">
                    <div class="container">
                        <h2 class="header center primary-text-color">Frequently Asked Questions</h2>
                    </div>
                </div>

                <div class="container">
                    <ul class="collapsible" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header"><i class="material-icons">account_balance</i>Museum</div>
                            <div class="collapsible-body">
                                <p>
                                    <span><b>Will this be a guided tour or can I go on a self-guided tour?</b></span>
                                    <br>
                                    <span>There will be docents available who will gladly guide you around the museum and inform you about each exhibit. You can also choose a self-guided tour.</span>
                                    <br><br>
                                    <span><b>When is the museum open?</b></span>
                                    <br>
                                    <span>The <a href="/visit">visit</a> page has this information.</span>
                                    <br><br>
                                    <span><b>Will I need to pay admission?</b></span>
                                    <br>
                                    <span>Absolutely not!</span>
                                    <br><br>
                                    <span><b>Do you offer tours in any languages other than English?</b></span>
                                    <br>
                                    <span>Some of our docents speak multiple languages and will try their best to accomodate your needs.</span>
                                    <br><br>
                                    <span><b>How many exhibits are there?</b></span>
                                    <br>
                                    <span>????</span>
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header"><i class="material-icons">school</i>Education</div>
                            <div class="collapsible-body">
                                <p>
                                    <span><b>What can I learn from this museum?</b></span>
                                    <br>
                                    <span>um idk</span>
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header"><i class="material-icons">list</i>Rules</div>
                            <div class="collapsible-body">
                                <p>
                                    <span><b>Are pictures and videos allowed in the exhibits?</b></span>
                                    <br>
                                    <span>Yes. Photography and video recordings are allowed in the exhibits.</span>
                                    <br><br>
                                    <span><b>Can I eat or drink while in the museum?</b></span>
                                    <br>
                                    <span>Food and drinks will not be allowed into the museum.</span>
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>

                <br>
            </div>
        </main>
{% endblock %}

{% block js %}

{% endblock %}