{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block css %}

{% endblock %}

{% block main %}
		<main>
			<div class="no-pad-bot section" id="index-banner">
				<div class="container">
					<h1 class="header center primary-text-color">Insert Title Here</h1>
					<div class="row center">
						<h5 class="header col s12 light">Insert Heading Here</h5>
					</div>
				</div>
			</div>

			<div class="container">

			</div>
		</main>
{% endblock %}

{% block js %}

{% endblock %}