{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block css %}

{% endblock %}

{% block main %}
		<main>
			<div class="no-pad-bot section" id="index-banner">
				<div class="container">
					<h1 class="header center primary-text-color">Morbus</h1>
					<div class="row center">
						<h5 class="header col s12 light secondary-text-color">Museum of Infectious Diseases</h5>
					</div>
				</div>
			</div>

			<div class="container">
                <div class="slider">
                    <ul class="slides">
                        <li>
                            <img src="{% static 'img/team/team1.jpg' %}">
                        </li>
                        <li>
                            <img src="{% static 'img/team/team2.jpg' %}">
                        </li>
                        <li>
                            <img src="{% static 'img/team/team3.jpg' %}">
                        </li>
                        <li>
                            <img src="{% static 'img/team/team4.jpg' %}">
                        </li>
                        <li>
                            <img src="{% static 'img/team/team5.jpg' %}">
                        </li>
                        <li>
                            <img src="{% static 'img/team/team6.jpg' %}">
                        </li>
                        <li>
                            <img src="{% static 'img/team/team7.jpg' %}">
                        </li>
                        <li>
                            <img src="{% static 'img/team/team8.jpg' %}">
                        </li>
                    </ul>
                </div>
			</div>

            <br>

		</main>
{% endblock %}

{% block js %}

{% endblock %}