{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block css %}

{% endblock %}

{% block main %}
		<main>
			<div class="no-pad-bot section" id="index-banner">
				<div class="container">
					<h1 class="header center primary-text-color">Morbus</h1>
					<div class="row center">
						<h5 class="header col s12 light secondary-text-color">Insert Tagline Here</h5>
					</div>
				</div>
			</div>

			<div class="container">
                <div class="slider">
                    <ul class="slides">
                        <li>
                            <img src="http://lorempixel.com/580/250/nature/1"> <!-- random image -->
                            <div class="caption center-align">
                                <h5 class="light grey-text text-lighten-3">A team picture will exist here</h5>
                            </div>
                        </li>
                        <li>
                            <img src="http://lorempixel.com/580/250/nature/2">
                            <div class="caption right-align">
                                <h3>asdf</h3>
                                <h5 class="light grey-text text-lighten-3">A team picture will exist here</h5>
                            </div>
                        </li>
                        <li>
                            <img src="http://lorempixel.com/580/250/nature/3">
                        </li>
                    </ul>
                </div>
			</div>

            <br>

		</main>
{% endblock %}

{% block js %}

{% endblock %}