{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Resources{% endblock %}

{% block css %}

{% endblock %}

{% block main %}
		<main>
            <div class="main-wrapper">
                <div class="section" id="index-banner">
                    <div class="container">
                        <h2 class="header center primary-text-color">Resources</h2>
                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col l6 s12">
                            <div class="card-panel">
                                <h5><b>Citations:</b></h5>
                                <span>Download <a href="{% static 'resources/citations.pdf' %}" target="_blank" download>citations.pdf</a></span>
                            </div>
                        </div>
                        <div class="col l6 s12">
                            <div class="card-panel">
                                <h5><b>Scrapbook:</b></h5>
                                <span>Download <a href="{% static 'resources/scrapbook.pdf' %}" target="_blank" download>scrapbook.pdf</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col l6 s12">
                            <div class="card-panel">
                                <h5><b>Room Layout:</b></h5>
                                <span>Download <a href="{% static 'resources/layout.pdf' %}" target="_blank" download>layout.pdf</a></span>
                            </div>
                        </div>
                        <div class="col l6 s12">
                            <div class="card-panel">
                                <h5><b>Documentary:</b></h5>
                                <span>View <a href="https://youtu.be/BwDUZq0aFgY" target="_blank">Youtube</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
{% endblock %}

{% block js %}

{% endblock %}