@media only screen and (min-width : 993px) {
	header, main, footer {
		padding-left: 240px;
	}
}

@media only screen and (max-width : 992px) {
	header, main, footer {
		padding-left: 0;
	}
}

#slide-out, #nav-mobile {
	overflow-y: auto;
}

header, footer {
	flex-shrink: 0;
}

main {
    flex: 1 0 auto;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow-y: scroll;
}

footer {
	width: 100%;
	height: 10%;
	bottom: 0px;
}

::-webkit-scrollbar {
    display: none;
}

@media only screen and (min-width : 601px) and (max-width : 992px) {
	.modal {
		width: 80%;
	}
}

@media only screen and (max-width : 600px) {
	.modal {
		width: 100%;
	}
}

ul.side-nav li.logo {
	text-align: center;
	margin-top: 25px;
	margin-bottom: 20px;
}

ul.side-nav.full li, ul.side-nav.fixed li {
	transition: background-color 0.3s ease 0s;
	line-height: 64px;
}

.sidebar	{
	color: #D1C4E9;
}

ul.side-nav li.logo:hover {
	background-color: transparent;
}

#logo-container {
	height: 125px;
	margin-bottom: 32px;
}

#front-page-logo {
	display: inline-block;
	height: 100%;
	pointer-events: none;
}

a, b   {
    color: #FF5252;
}

p   {
    color: #DDDDDD;
}

.card-panel, .side-nav, .collapsible-header, .modal {
    background-color: #F2F9FF;
}
